button{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 0;
    color: #fff;
    font: 400 20px "roboto",sans-serif;
    cursor: pointer;

    &:not(:disabled):hover{
        filter: brightness(0.9);
    }
    
    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.button-entrar{
    background-color: #835AFD;
}

.button-google-icon{
    background-color: #EA4335;
}

