.code-room{
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #835afd;
    align-items: center;
    cursor: pointer;
    padding-right: 10px;

    div{
        background-color:  #835AFD;
        padding: 10px 12px 10px 12px;
        height: 100%;
    }

    span{
        font: 500 14px "roboto";
    }
}